*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    box-shadow: 2px 2px 2px 2px gainsboro;
    height: 40vh;
    padding: 8px 20px;
    justify-content: center;
    margin: 10px 200px;
}
.cart-image{
    width: 20%;
    /* display: flex; */
    /* justify-content: left; */
    position: absolute;
    left: 220px;
    height: 35vh;
}
.cart-title{
   position: relative;
   top: 25px; 
   left: 100px;
}
.delete-logo{
    position: absolute;
    right: 250px;
}
.deletebtn{
    font-size: 30px;
    text-decoration: none;
    color: red;
    background-color: white;
    border: none;
}
.cart-info{
    
}
.cart-quantity{
    position: relative;
    top: 65px; 
    left: 100px;
    
}
.cart-price{
    position: relative;
    top: 110px; 
    left: 100px;
    color: red;
    font-weight: bold;
    margin: 10px 0;
    
}
.totalprice{
    margin: 40px 0px;
}
.paybtn{
    margin: 20px 0px;
    width: 150px;
    border-radius: 25px;
    background-color: rgb(248, 136, 136);
    height: 50px;
    font-weight: bolder;
}
.button{
    padding: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(248, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    
}
.cartinfo{
    position: relative;
    top: 60px;
    left: 90px;
}
