.singleproduct{
    border: 2px solid #ccc;
    border-radius: 8px;
    /* height: 50vh; */
}
.product-image{
    width: 100%;
    height: 40vh;
}
.product-info{
    padding: 20px;
}
.cartinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-block: 10px;
}
.button{
    padding: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

